<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.bookworm">
    <!-- 인터넷 접속 중인지 확인 -->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" /> <!-- 인터넷 사용 권한 설정 -->
    <uses-permission android:name="android.permission.INTERNET" /> <!-- 사진 업로드를 위한 권한 설정 -->
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:name=".core.login.GlobalApplication"
        android:allowBackup="true"
        android:icon="@mipmap/appicon"
        android:label="책볼레"
        android:roundIcon="@mipmap/appicon_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat.Light.NoActionBar"
        android:usesCleartextTraffic="true">
        <activity
            android:name=".bottomMenu.challenge.board.subactivity_challenge_board_comment"
            android:exported="false" />
        <activity
            android:name=".bottomMenu.challenge.subactivity.subactivity_challenge_board_create"
            android:exported="false" />
        <activity
            android:name=".bottomMenu.challenge.board.subactivity_challenge_board"
            android:exported="false" />
        <activity
            android:name="com.example.bookworm.bottomMenu.Feed.subActivity_Feed_Modify"
            android:exported="false" />
        <activity
            android:name="com.example.bookworm.bottomMenu.Feed.comments.subactivity_comment"
            android:exported="false" />
        <activity
            android:name=".achievement.activity_achievement"
            android:exported="false"
            android:theme="@style/NoActionBar" />
        <activity
            android:name="com.example.bookworm.bottomMenu.Feed.ImagePicker"
            android:exported="false" />
        <activity
            android:name="com.example.bookworm.core.dataprocessing.image.ImagePicker"
            android:exported="false" />
        <activity
            android:name=".bottomMenu.profile.views.ProfileInfoActivity"
            android:exported="false" />
        <activity
            android:name="com.example.bookworm.extension.follow.view.FollowerActivity"
            android:exported="false" /> <!-- 카카오 계정 연동을 위한 AppKey -->
        <meta-data
            android:name="com.kakao.sdk.AppKey"
            android:value="@string/kakaoKey" /> <!-- SubActivities -->
        <activity
            android:name="com.example.bookworm.bottomMenu.Feed.subActivity_Feed_Create"
            android:exported="false"
            android:parentActivityName=".appLaunch.views.MainActivity" />
        <activity
            android:name=".bottomMenu.search.subactivity.search_fragment_subActivity_result"
            android:exported="false"
            android:parentActivityName=".bottomMenu.search.subactivity.search_fragment_subActivity_main" />
        <activity
            android:name=".bottomMenu.search.subactivity.search_fragment_subActivity_main"
            android:exported="false"
            android:parentActivityName=".appLaunch.views.MainActivity" />
        <activity
            android:name=".bottomMenu.challenge.subactivity.subactivity_challenge_challengeinfo"
            android:exported="false"
            android:parentActivityName=".appLaunch.views.MainActivity" />
        <activity android:name="com.example.bookworm.bottomMenu.profile.album.AlbumCreate.view.CreateAlbumActivity"
            android:exported="false"
            android:parentActivityName=".appLaunch.views.MainActivity"/>
        <activity
            android:name=".bottomMenu.challenge.subactivity.subactivity_challenge_createchallenge"
            android:exported="false"
            android:parentActivityName=".appLaunch.views.MainActivity" /> <!-- Main Activities -->
        <activity
            android:name=".PreferActivity"
            android:exported="false" /> <!-- 선호장르 설정 -->
        <activity
            android:name=".JoinActivity"
            android:exported="false" /> <!-- 회원 정보 수정 -->
        <activity
            android:name=".bottomMenu.profile.views.ProfileModifyActivity"
            android:exported="false" /> <!-- 회원 정보 수정 -->
        <activity
            android:name=".bottomMenu.profile.views.ProfileSettingActivity"
            android:exported="false" /> <!-- 회원 설정 -->
        <activity
            android:name=".appLaunch.views.MainActivity"
            android:exported="false" /> <!-- 메인 화면 -->
        <activity
            android:name=".core.login.LoginActivity"
            android:exported="false"/> <!-- 로그인 화면 -->
        <activity
            android:name=".chat.activity_chating"
            android:exported="false"/>

        <activity
            android:name=".LoadingActivity"
            android:exported="true"> <!-- 로딩 화면 -->
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity> <!-- uCrop cropping activity -->

        <activity
            android:name="com.yalantis.ucrop.UCropActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" /> <!-- cache directory file provider paths -->
        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.provider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>


        <service
            android:name=".notification.MyFCMService"
            android:stopWithTask="false"
            android:exported="false">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>
    </application>

</manifest>